[submodule "config-service"]
	path = config-service
	url = https://github.com/umasuo/config-service.git
[submodule "config"]
	path = config
	url = https://github.com/umasuo/config.git
[submodule "wechat"]
	path = wechat
	url = https://github.com/umasuo/wechat.git
[submodule "commons"]
	path = commons
	url = https://github.com/umasuo/commons.git
[submodule "customer-authentication"]
	path = customer-authentication
	url = https://github.com/umasuo/customer-authentication.git
[submodule "customer-info"]
	path = customer-info
	url = https://github.com/umasuo/customer-info.git
[submodule "base"]
	path = base
	url = https://github.com/umasuo/base.git
