[submodule "config-service"]
	path = config-service
	url = https://github.com/umasuo/config-service.git
[submodule "config"]
	path = config
	url = https://github.com/umasuo/config.git
[submodule "wechat"]
	path = wechat
	url = https://github.com/umasuo/wechat.git
[submodule "commons"]
	path = commons
	url = https://github.com/umasuo/commons.git
[submodule "file-service"]
	path = file-service
	url = https://github.com/umasuo/file-service.git
[submodule "code_analyzer"]
	path = code_analyzer
	url = https://github.com/umasuo/code_analyzer.git
[submodule "developer"]
	path = developer
	url = https://github.com/umasuo/developer.git
[submodule "data-definition"]
	path = data-definition
	url = https://github.com/umasuo/data-definition.git
[submodule "user"]
	path = user
	url = https://github.com/umasuo/user.git
[submodule "data-center"]
	path = data-center
	url = https://github.com/umasuo/data-center.git
[submodule "data-processor-executor"]
	path = data-processor-executor
	url = https://github.com/umasuo/data-processor-executor.git
[submodule "data-processor"]
	path = data-processor
	url = https://github.com/umasuo/data-processor.git
[submodule "developer-ui"]
	path = developer-ui
	url = https://github.com/umasuo/developer-ui.git
[submodule "marketing-site"]
	path = marketing-site
	url = https://github.com/umasuo/marketing-site.git
[submodule "api-gateway-developer"]
	path = api-gateway-developer
	url = https://github.com/umasuo/api-gateway-developer.git
[submodule "device-center"]
	path = device-center
	url = https://github.com/umasuo/device-center.git
[submodule "report"]
	path = report
	url = https://github.com/umasuo/report.git
[submodule "developer-site"]
	path = developer-site
	url = https://github.com/umasuo/developer-site.git
[submodule "message-broker"]
	path = message-broker
	url = https://github.com/umasuo/message-broker.git
[submodule "feedback"]
	path = feedback
	url = https://github.com/umasuo/feedback.git
[submodule "api-gateway-user"]
	path = api-gateway-user
	url = https://github.com/umasuo/api-gateway-user.git
[submodule "product"]
	path = product
	url = https://github.com/umasuo/product.git
[submodule "api-gateway-admin"]
	path = api-gateway-admin
	url = https://github.com/umasuo/api-gateway-admin.git
